* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f7f7f7;
    font-family: Arial, sans-serif;
    color: #333;
}

.navbar {
    background: white;
    padding: 8px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

.navbar li {
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.navbar li:hover {
    color: #3366cc;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 10px;
    background: #f0f4ff;
}

.hero h1 {
    font-size: 40px;
    font-weight: bold;
}

.hero img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);

    object-fit: cover;     
    object-position: center; 
}


.about {
    text-align: center;
    padding: 40px 20px;
}

.about p {
    width: 70%;
    margin: auto;
    line-height: 1.7;
}

.qualification {
    padding: 40px 0;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background: #d9d9d9;
    padding: 12px;
}

td, th {
    border: 1px solid #bfbfbf;
    padding: 12px;
}

.interests h2 {
    margin-top: -15px; 
    margin-bottom: 25px; 
}


.interests {
    text-align: center;
    padding: 40px 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #4e89df;
}

.projects {
    padding: 40px 20px;
    text-align: center;
}

.project-card {
    width: 80%;
    background: white;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.contact {
    text-align: center;
    padding: 40px 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 12px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #4ea8de;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

button:hover {
    background: #4098d7;
}

.connect {
    text-align: center;
    padding: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #e6e6e6;
    margin-top: 30px;
}
